<div class="limiter">
  <div class="container-form">
    <div class="wrap-form">
      <form class="form-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <span class="form-form-title">
          Instagram Login
        </span>

        <div class="container-form-form-btn">
          <div class="wrap-form-form-btn">
            <div class="form-form-bgbtn"></div>
            <button class="form-form-btn" type="button" (click)="goToNewLogin()">
              Login
            </button>
          </div>
        </div>

        <div class="container-form-form-btn">
          <div class="wrap-form-form-btn">
            <div class="form-form-bgbtn"></div>
            <button class="form-form-btn" type="button" (click)="goToLoginList()">
              Saved Accounts
            </button>
          </div>
        </div>

        <div style="text-align: center; margin-top: 5px">
          <span style="font-size: 12px">
            Made with love by hofill
          </span><br>
        </div>
      </form>
    </div>
  </div>
</div>
